@(announcementList: List[ws.services.AnnouncementList])
@main(Messages("announcement.title")) {

<!-- # Dashboard -->
<header class="grid_12 head center">
    <h1>@Messages("announcement.add.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<!-- DentalService -->
<div class="grid_3">
    <div class="simple-box">
        <div class="inner">

            <div class="box-content">
                <p>
                    <a href="">Your Profile</a>
                </p>
                <p>
                    <a href="">Reminders</a>
                </p>
                <p>
                    <a href="">Clinic</a>
                </p>
                <p>
                    <a href="">Dental Services</a>
                </p>
                <p>
                    <a href="">Dentists</a>
                </p>
                <p>
                    <a href="">Staffs</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- DentalService -->
<!-- /Announcements -->
<div class="grid_9">
    <div class="box">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>Announcements</h1>
                </div>
                <div class="right">
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content">
            <div class="center">
                <div class="form-details">
                    @helper.form(action = routes.Announcement.submitAddForm){
                    <div class="field left">
                        <input type="hidden" name="id" value="">
                        <input type="hidden" name="user_name" value="">
                        <ul>

                            <li>
                                <label>Reminder:</label>
                                <input type="text" name="announcement" required = "required">
                            </li>
                            <li>
                                <label>Date:</label>
                                <input type="text" name="date_created" required = "required">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <footer class="pane">
                <input type="submit" class="bt blue right" value="@Messages("button.add")">
            </footer>
            }
        </div>
    </div>

        <div class="extension top fullwidth">
            <div id="DataTables_Table_0_length" class="dataTables_length">
                <label>
                    <span class="textnode">Show </span>
                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                        <option value="0" selected="selected">-</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="textnode"> entries</span>
                </label>
            </div>
            <div class="dataTables_filter" id="DataTables_Table_0_filter">

            </div>
            <div class="clear"></div></div>
        <div class="table">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <table class="datatable dataTable" id="DataTables_Table_0">
                    <thead>
                    <tr role="row">
                        <th class="first sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 25%;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                            <div class="parentsort">Announcement
                                <div class="sorticon"></div>
                            </div>
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-label="Browser: activate to sort column ascending">
                            <div class="parentsort">Created By
                                <div class="sorticon"></div>
                            </div>
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-label="Browser: activate to sort column ascending">
                            <div class="parentsort">Date Created
                                <div class="sorticon"></div>
                            </div>
                        </th>
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @announcementList.map { al =>
                    <tr>
                        <td class="sorting_1"><a href="routes.Announcement.getAnnouncementListById(al.id)">@al.description</a></td>
                        <td>@al.username</td>
                        <td>@al.dateCreated</td>
                    </tr>
                    }
                    </tbody>
                </table>
                <div class="extension bottom inright pagination">
                    <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                        <a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">First</a>
                        <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                                                <span>
                                                    <a tabindex="0" class="paginate_button">1</a>
                                                </span>
                        <a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next">Next</a>
                        <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last">Last</a>
                    </div>
                </div>
            </div>
        </div>

</div>
<!-- /Announcements -->
}





