@main(Messages("announcement.title")){

<header class="grid_12 head center">
    <h1>@Messages("announcement.add.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
    <header>
        <div class="inner">
            <div class="left title">
                <h1></h1>
            </div>
            <div class="right">
                <nav style="display:none;">
                    <ul>
                        <li class="active first"><a href="#tab-1">Profile</a></li>
                    </ul>
                </nav>
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div id="tab-1" class="tab">
            <div class="center">
                <div class="form-details">
                    @helper.form(action = routes.Announcement.submitAddForm){
                    <div class="field left">
                        <input type="hidden" name="id" value="">
                        <input type="hidden" name="user_name" value="">
                        <ul>

                            <li>
                                <label>Announcement:</label>
                                <input type="text" name="announcement" required = "required">
                            </li>
                            <li>
                                <label>Date:</label>
                                <input type="text" name="date_created" required = "required">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <footer class="pane">
                <input type="submit" class="bt blue right" value="@Messages("button.add")">
            </footer>
            }
        </div>
    </div>
</div>
}