@(announcementList: List[ws.services.AnnouncementList])

@main("Announcement Information") {

<header class="grid_12 head">
    <h1>Announcement Information</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
    <header>
        <div class="inner">

            <div class="right">
                <nav style="display: none;">
                    <ul>
                        <li class="active first"><a href="#tab-1">Profile</a></li>

                    </ul>
                </nav>
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div id="tab-1" class="tab">
            <div class="columns">
                <div class="form-details right mode-1">
                    @announcementList.map { dl =>
                    <div class="field left">
                        <ul>
                            <li>
                                <label>Announcement ID:</label>
                                <label class="form-label">@dl.id</label>
                            </li>
                            <li>
                                <label>Created By:</label>
                                <label class="form-label">@dl.username</label>
                            </li>
                            <li>
                                <label>Date Created:</label>
                                <label class="form-label">@dl.dateCreated</label>
                            </li>

                    </div>
                    <li>
                        <label>Announcement:</label>
                        <textarea id="textarea-input-grow" disabled="disabled" class="autogrow" name="announcement" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2">@dl.description</textarea>

                    </li>
                </div>  }
            </div>
            <footer class="pane">
                @announcementList.map { d =>
                <a class="bt blue right" href="@routes.Announcement.getUpdateForm(d.id)">@Messages("button.edit")</a>
                }
            </footer>
        </div>
        }