@(announcementList: List[ws.services.AnnouncementList])

@main(Messages("announcement.title")){

<!-- announcement  List -->
<header class="grid_12 head center">
    <h1>@Messages("announcement.list.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<!-- Breadcrumb -->
<script type="text/javascript">
    $('<div class="extension top inleft breadcrumbs"><nav><ul><li class="first"><a href="#">Settings</a> <span class="divider"></span></li><li class="last"><a href="/reminders">Reminders</a></li></ul></nav></div>').prependTo('#content');
</script>
<!-- /Breadcrumb -->

<!-- DentalService -->
@settings._settings_sidebar()
<!-- DentalService -->
<!-- /Reminders -->
<div class="grid_9">
    @if((play.cache.Cache.get("role")) == 0){
    <div class="box">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>Add Reminder</h1>
                </div>
                <div class="right">
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content">
            <div class="columns">
                <div class="form-details right">
                    @helper.form(action = routes.Announcement.submitAddForm){
                    <div class="field left">
                        <input type="hidden" name="id" value="">
                        <input type="hidden" name="user_name" value="">
                        <ul>
                            <li>
                                <label>Date:</label>
                                <input class="large" type="text" name="date_created" required = "required">
                            </li>
                        </ul>
                    </div>
                    <div class="field special">
                        <label>Description: <span>(200 characters)</span></label>
                        <textarea class="autogrow" name="description" required="required" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <footer class="pane">
                <input type="submit" class="bt blue right" value="@Messages("button.add")">
            </footer>
            }
        </div>
    </div>
     }
    <div class="extension top fullwidth">
        <div id="DataTables_Table_0_length" class="dataTables_length">
            <label>
                <span class="textnode">Show </span>
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                    <option value="0" selected="selected">-</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="textnode"> entries</span>
            </label>
        </div>
        <div class="dataTables_filter" id="DataTables_Table_0_filter">

        </div>
        <div class="clear"></div></div>
    <div class="table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="datatable dataTable" id="DataTables_Table_0">
                <thead>
                <tr role="row">
                    <th class="first sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 60%;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                        <div class="parentsort">Description
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 25%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Date Created
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="last sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Created By
                            <div class="sorticon"></div>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                @announcementList.map { al =>
                <tr>
                    <td class="sorting_1"><a href="@routes.Announcement.getAnnouncementListById(al.id)">@al.description</a></td>
                    <td>@{al.dateCreated.get.split(" ")(0).split("-")(1) match {
                        case "01" => "Jan"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "02" => "Feb"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "03" => "Mar"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "04" => "Apr"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "05" => "May"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "06" => "Jun"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "07" => "Jul"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "08" => "Aug"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "09" => "Sep"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "10" => "Oct"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "11" => "Nov"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        case "12" => "Dec"+"-"+al.dateCreated.get.split(" ")(0).split("-")(2)+"-"+al.dateCreated.get.split(" ")(0).split("-")(0)+" "+al.dateCreated.get.split(" ")(1).split(":")(0)+":"+al.dateCreated.get.split(" ")(1).split(":")(1)
                        }
                    }
                    </td>
                    <td>@al.username</td>
                </tr>
                }
                </tbody>
            </table>
            <div class="extension bottom inright pagination">
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                    <a tabindex="0" class="first previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                        <span>
                            <a tabindex="0" class="paginate_button">1</a>
                        </span>
                    <a tabindex="0" class="last next paginate_button" id="DataTables_Table_0_next">Next</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Reminders -->
}