<!-- AddAppointmentModal -->
<div class="box grid_11" id="addAppointmentModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>@Messages("scheduler.appointment.add.title") </h1><h1 id="appointmentDate"></h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="center">
            <div class="form-details">

                <div class="field left">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="medical_history_id" value="3feff37e-577d-4805-a3a6-c0ea2d4194dd">
                    <ul>
                        <li>
                            <label class="upper">Description:</label>
                            <textarea name="description" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                        </li>
                        <li>
                            <label class="upper">First Name:</label>
                            <input type="text" name="first_name">
                        </li>
                        <li>
                            <label>Middle Name:</label>
                            <input type="text" name="middle_name">
                        </li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text" name="last_name">
                        </li>
                    </ul>
                </div>
                <div class="field right">
                    <ul>
                        <li>
                            <label>Dentist Name:</label>
                            <input type="text" name="dentist_id">
                        </li>
                        <li>
                            <label>Contact Number:</label>
                            <input type="text" name="contact_no">
                        </li>
                        <li>
                            <label class="upper">Address:</label>
                            <textarea name="address" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                        </li>
                        <input type="hidden" name="date_start" value="1970-01-01 00:00:01">
                        <input type="hidden" name="date_end" value="1970-01-01 00:00:01">

                    </ul>
                </div>
            </div>
        </div>
        <footer class="pane">
            <input id="addButtonAppointmentModal" type="submit" class="bt blue right close" value="@Messages("scheduler.appointment.add.title")">
        </footer>

    </div>
</div>
<!-- /AddAppointmentModal -->