@(dentists: List[ws.services.DentistList], services: List[ws.services.DentalServiceList], patients: List[ws.services.PatientList])

<!-- AddAppointmentModal -->
<div class="box grid_11" id="addAppointmentModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>@Messages("scheduler.appointment.add.title") </h1><h1 id="appointmentDate"></h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="columns">
            <div class="form-details right">
                @helper.form(action = routes.Appointments.submitAddForm){
                <div class="field left">
                    <input type="hidden" name="id">
                    <ul>
                        <li>
                            <!--<label>Patient Id:</label>
                            <select>
                                @patients.map { p =>
                                <option value="@p.id">@p.firstName</option>
                                }
                            </select>-->
                        </li>
                        <li>
                            <label>Service:</label>
                            <select name="dental_service_id">
                                @services.map { s =>
                                <option value="@s.id">@s.name</option>
                                }
                            </select>
                        </li>
                        <li>
                            <label>First Name:</label>
                            <input type="text" name="first_name" required = "required" data-provide="typeahead">
                        </li>
                        <li>
                            <label>Middle Name: <span>(optional)</span></label>
                            <input type="text" name="middle_name">
                        </li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text" name="last_name" required = "required">
                        </li>
                    </ul>
                </div>
                <div class="field right">
                    <ul>
                        <li>
                            <label>Dentist Name:</label>
                            <select name="dentist_id">
                                @dentists.map { d =>
                                <option value="@d.id">@d.firstName @d.middleName @d.lastName</option>
                                }
                            </select>
                        </li>
                        <li>
                            <label>Contact Number:</label>
                            <input type="text" name="contact_no" required = "required">
                        </li>
                        <li>
                            <label>Address:</label>
                            <textarea name="address" required = "required" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                        </li>
                        <input type="hidden" name="date_start">
                        <input type="hidden" name="date_end">
                    </ul>
                </div>
            </div>
        </div>
        <footer class="pane">
            <input type="submit" class="bt blue right" value="@Messages("button.add")">
        </footer>  }

    </div>
</div>
<!-- /AddAppointmentModal -->