<!-- AddPatientModal -->
<div class="box grid_11" id="addPatientModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>@Messages("patient.add.title")</h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="center">
            <div class="form-details mode-1">
                <div class="field left">
                    <script type="text/javascript">
                        function readURL(input) {
                        if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                        $('#blah')
                        .attr('src', e.target.result)
                        };
                        reader.readAsDataURL(input.files[0]);
                        }
                        };
                    </script>
                    <ul>
                        <li>
                            <label class="upper">First Name:</label>
                            <input type="text" name="first_name">
                        </li>
                        <li>
                            <label>Middle Name:</label>
                            <input type="text" name="middle_name">
                        </li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text" name="last_name">
                        </li>
                        <li>
                            <label>Image:<br></label>
                            <input type='file' onchange="readURL(this)" />
                            <img id="blah" src="#" alt="your image" />

                            <!--<div class="customfile"><input type="file" class="custom-file-input customfile-input" style="left: -181px; top: -1px;"></div>-->
                        </li>
                    </ul>
                </div>
                <div class="field right">
                    <ul>
                        <li>
                            <label class="upper">Address:</label>
                            <textarea id="textarea-input-grow" class="autogrow" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                        </li>
                        <li>
                            <label>Contact Number:</label>
                            <input type="text">

                        </li>
                        <li>
                            <label>Birthdate:</label>
                            <input id="datepicker" type="text">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="pane">
            <a href="#" id="addButton" class="bt blue right close">@Messages("button.add")</a>
        </footer>
    </div>
</div>
<!-- /AddPatientModal -->