@(paymentList: List[ws.services.PaymentList] )

<!-- AddPaymentModal -->
<div class="box grid_7" id="addPaymentModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>Add Payment </h1><h1 id="appointmentDate"></h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="columns">

            <table>
                <tr>
                    <th>
                        ahaha
                    </th>
                </tr>
                <tr>
                    <td>
                        shit
                    </td>
                </tr>

            </table>


            <div class="form-details right">
                <ul>
                    <li>
                        <label>Payment:</label>
                        <input type="text" name=""/>
                    </li>
                    <li>
                        <label>Balance:</label>
                        <input type="text" name=""/>
                    </li>
                    <li>
                        <input type="text" name=""/>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="pane">
            <input type="submit" class="bt blue right" value="Pay! ">
        </footer>

    </div>
</div>
<!-- /AddPaymentModal -->