<!-- AddPatientModal -->
<div class="box grid_11" id="addPatientModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>Add Patient</h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="">
            <div class="form-details">
                <div class="field left">
                    <ul>
                        <li>
                            <label class="upper">Patient ID:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>First Name:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Middle Name:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Image:<br></label>
                            <div class="customfile"><input type="file" class="custom-file-input customfile-input" style="left: -181px; top: -1px;"></div>
                        </li>
                    </ul>
                </div>
                <div class="field right">
                    <ul>
                        <li>
                            <label class="upper">Address:</label>
                            <textarea id="textarea-input-grow" class="autogrow" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                        </li>
                        <li>
                            <label>Contact Number:</label>
                            <input type="text">

                        </li>
                        <li>
                            <label>Birthdate:</label>
                            <input type="text">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="pane">
            <a href="#" class="bt blue right">Add</a>
        </footer>
    </div>
</div>
<!-- /AddPatientModal -->