<!-- AddPatientModal -->
<div class="box grid_11" id="addPatientModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>@Messages("patient.add.title")</h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="center">
            <div class="form-details">
                @helper.form(action = routes.Patient.submitAddForm){
                <div class="field left">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="medical_history_id" value="3feff37e-577d-4805-a3a6-c0ea2d4194dd">
                    <ul>
                        <li>
                            <label class="upper">First Name:</label>
                            <input type="text" name="first_name" required = "required">
                        </li>
                        <li>
                            <label>Middle Name:</label>
                            <input type="text" name="middle_name" >
                        </li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text" name="last_name" required = "required">
                        </li>
                        <input type="file" name="image" value="anon-160x160.jpg"/>
                    </ul>
                </div>
                <div class="field right">
                    <ul>
                        <li>
                            <label class="upper">Address:</label>
                            <textarea id="textarea-input-grow" class="autogrow" name="address" required = "required" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2"></textarea>
                        </li>
                        <li>
                            <label>Contact Number:</label>
                            <input type="text" name="contact_no" required = "required">

                        </li>
                        <li>
                            <label>Birthdate:</label>
                            <input class="datepicker" type="text" name="date_of_birth" value="" required = "required">
                            <!--<input type="text" class="datepicker hasDatepicker" id="datepicker">-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="pane">
            <input id="addButtonModal" type="submit" class="bt blue right" value="@Messages("button.add")">
        </footer>
        }

    </div>
</div>
<!-- /AddPatientModal -->