<div class="mouth adult">
<div class="tooltip" data-position="e" original-title="upper">
    <div id='F1' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasF1' width='40' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF1' width='40' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF1' width='40' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='F2' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasF2' width='50' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF2' width='50' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF2' width='50' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='F3' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasF3' width='55' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF3' width='55' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF3' width='55' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='F4' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF4' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF4' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF4' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F5' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF5' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF5' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF5' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F6' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasF6' width='40' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF6' width='40' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF6' width='40' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='F7' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF7' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF7' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF7' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F8' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasF8' width='45' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF8' width='45' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF8' width='45' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='F9' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasF9' width='45' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF9' width='45' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF9' width='45' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='F10' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF10' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF10' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF10' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F11' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasF11' width='40' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF11' width='40' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF11' width='40' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='F12' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasF12' width='40' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF12' width='40' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF12' width='40' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='F13' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF13' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF13' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF13' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F14' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasF14' width='50' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF14' width='50' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF14' width='50' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='F15' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasF15' width='55' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF15' width='55' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF15' width='55' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='F16' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasF16' width='45' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF16' width='45' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF16' width='45' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
</div>
<br/>
<div class="tooltip" data-position="e" original-title="upper">
    <div id='M1' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasM1' width='45' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM1' width='45' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM1' width='45' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='M2' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasM2' width='50' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM2' width='50' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM2' width='50' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='M3' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasM3' width='55' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM3' width='55' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM3' width='55' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='M4' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM4' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM4' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM4' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M5' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM5' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM5' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM5' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M6' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM6' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM6' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM6' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M7' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM7' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM7' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM7' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M8' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasM8' width='45' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM8' width='45' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM8' width='45' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='M9' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM9' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM9' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM9' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M10' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM10' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM10' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM10' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M11' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM11' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM11' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM11' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M12' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM12' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM12' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM12' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M13' class="gum float-left" style="width: 40;">
        <div class='absolute'>
            <canvas id='maskCanvasM13' width='40' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM13' width='40' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM13' width='40' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 35px;">
    </div>
    <div id='M14' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasM14' width='55' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM14' width='55' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM14' width='55' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='M15' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasM15' width='50' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM15' width='50' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM15' width='50' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='M16' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasM16' width='45' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM16' width='45' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM16' width='45' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
</div>
<br/>
<div class="tooltip" data-position="e" original-title="lower">
    <div id='M17' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasM17' width='45' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM17' width='45' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM17' width='45' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='M18' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasM18' width='45' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM18' width='45' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM18' width='45' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='M19' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasM19' width='50' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM19' width='50' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM19' width='50' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='M20' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM20' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM20' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM20' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M21' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM21' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM21' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM21' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M22' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM22' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM22' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM22' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M23' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM23' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM23' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM23' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M24' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasM24' width='30' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM24' width='30' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM24' width='30' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>
    <div id='M25' class="gum float-left" style="width: 25;">
        <div class='absolute'>
            <canvas id='maskCanvasM25' width='25' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM25' width='25' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM25' width='25' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 20px;">
    </div>
    <div id='M26' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasM26' width='30' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM26' width='30' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM26' width='30' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>

    <div id='M27' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM27' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM27' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM27' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M28' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasM28' width='30' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM28' width='30' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM28' width='30' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>
    <div id='M29' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasM29' width='35' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM29' width='35' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM29' width='35' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='M30' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasM30' width='55' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM30' width='55' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM30' width='55' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='M31' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasM31' width='55' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM31' width='55' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM31' width='55' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='M32' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasM32' width='55' height='55'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineM32' width='55' height='55'></canvas>
        </div>
        <canvas id='tempCanvasM32' width='55' height='55'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
</div>
<br/>
<div class="tooltip" data-position="e" original-title="lower">
    <div id='F17' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasF17' width='50' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF17' width='50' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF17' width='50' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='F18' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasF18' width='50' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF18' width='50' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF18' width='50' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='F19' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasF19' width='50' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF19' width='50' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF19' width='50' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
    <div id='F20' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasF20' width='30' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF20' width='30' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF20' width='30' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>
    <div id='F21' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF21' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF21' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF21' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F22' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF22' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF22' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF22' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F23' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasF23' width='30' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF23' width='30' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF23' width='30' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>
    <div id='F24' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasF24' width='30' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF24' width='30' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF24' width='30' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>
    <div id='F25' class="gum float-left" style="width: 25;">
        <div class='absolute'>
            <canvas id='maskCanvasF25' width='25' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF25' width='25' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF25' width='25' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 20px;">
    </div>
    <div id='F26' class="gum float-left" style="width: 30;">
        <div class='absolute'>
            <canvas id='maskCanvasF26' width='30' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF26' width='30' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF26' width='30' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 25px;">
    </div>
    <div id='F27' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF27' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF27' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF27' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F28' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF28' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF28' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF28' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F29' class="gum float-left" style="width: 35;">
        <div class='absolute'>
            <canvas id='maskCanvasF29' width='35' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF29' width='35' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF29' width='35' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 30px;">
    </div>
    <div id='F30' class="gum float-left" style="width: 55;">
        <div class='absolute'>
            <canvas id='maskCanvasF30' width='55' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF30' width='55' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF30' width='55' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 50px;">
    </div>
    <div id='F31' class="gum float-left" style="width: 45;">
        <div class='absolute'>
            <canvas id='maskCanvasF31' width='45' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF31' width='45' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF31' width='45' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 40px;">
    </div>
    <div id='F32' class="gum float-left" style="width: 50;">
        <div class='absolute'>
            <canvas id='maskCanvasF32' width='50' height='130'></canvas>
        </div>
        <div class='absolute'>
            <canvas id='outlineF32' width='50' height='130'></canvas>
        </div>
        <canvas id='tempCanvasF32' width='50' height='130'></canvas>
        <br>
        <input class="tooth_label center" name="tooth_label" style="width: 45px;">
    </div>
</div>
</div>