@(dentalServices: List[ws.services.DentalServiceList])

<!--Dentist Tools-->
<div id="dentistTools" title="Dentist Tools">
    <h4>Selected Teeth: </h4>
    <div class="selected-tooth ui-box center">
    </div>
    <h4>Dental Services:</h4>
    <div class="dental-services ui-box center">
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
        <button>Button</button>
    </div>
    <div id="accordion">
        <h3>Condition</h3>
        <div>
            <ul id="dental_services">
                <button id="ERASER" class="dental_service ui-widget-content" data-type="paint" data-color="white">ERASER</button>
                @dentalServices.map { ds =>
                    <button id="@ds.code" class="dental_service ui-widget-content" data-type="@ds.toolType" data-color="#@ds.color">@ds.name</button>
                }
            </ul>
        </div>
        <h3>Examination/Diagnosis</h3>
        <div>Second content panel</div>
        <h3>Periodontics</h3>
        <div>Second content panel</div>
        <h3>Crowns/Bridges</h3>
        <div>Second content panel</div>
        <h3>Endodontics</h3>
        <div>Second content panel</div>
    </div>
</div>
<!--/Dentist Tools-->