<div class="box grid_5" id="addPaymentModal" hidden="">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>Add Payment </h1><h1 id="appointmentDate"></h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>
    <div class="box-content">
        <div class="columns">
            <table>
                <tr>
                    <td>
                        <label>Patient Id:</label>
                    </td>
                    <td>
                        <input type="text" id="patient_id"/>
                    </td>
                </tr>
            </table>

        </div>
        <footer class="pane">
            <input type="submit" class="bt blue right" value="Submit">
        </footer>
    </div>
</div>