@(staffList: List[ws.services.StaffList])

@main(Messages("staff.title")){

<!-- Update Staff -->
<header class="grid_12 head center">
    <h1>@Messages("staff.update.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
    <header>
        <div class="inner">
            <div class="left title">
                <h1></h1>
            </div>
            <div class="right">
                <nav>
                    <ul>
                        <li class="active first"><a href="#tab-1">Profile</a></li>
                    </ul>
                </nav>
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div id="tab-1" class="tab">
            <div class="center">
                <div class="form-details">
                    @staffList.map { sl =>
                    @helper.form(action = routes.Staff.submitUpdateForm){
                    <div class="field left">
                        <input type="hidden" name="id" value="@sl.id">
                        <input type="hidden" name="user_name"  value="@sl.userName">
                        <input type="hidden" name="question" value="@sl.question">
                        <input type="hidden" name="answer" value="@sl.answer">
                        <ul>
                            <li>
                                <label class="upper">First Name:</label>
                                <input type="text" required = "required" name="first_name" value="@sl.firstName">
                            </li>
                            <li>
                                <label class="upper">Middle Name:</label>
                                <input type="text" name="middle_name" value="@sl.middleName">
                            </li>
                            <li>
                                <label class="upper">Last Name:</label>
                                <input type="text" required = "required" name="last_name" value="@sl.lastName">
                            </li>
                            <li>
                                <label class="upper">Position:</label>
                                <input type="text" required = "required" name="position" value="@sl.position">
                            </li>
                        </ul>
                    </div>
                    <div class="field right">
                        <ul>

                            <li>
                                <label>Contact No:</label>
                                <input type="text" name="contact_no" required="required" value="@sl.contactNo" id="text" onkeyup="enterNumber()">

                            </li>
                            <li>
                                <label>Address:</label>
                                <textarea id="textarea-input-grow" class="autogrow" name="address" required="required" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2">@sl.address</textarea>
                            </li>

                            <li>
                                <label>Password:</label>
                                <input type="password" name="password" required = "required" value="@sl.password">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer class="pane">
                @if((play.cache.Cache.get("role")) == 0){
                    <input type="submit" class="bt blue right" value="@Messages("button.update")">
                }
            </footer>
            }
            }
        </div>
    </div>
</div>
}