<div class="grid_3">
    <div class="simple-box">
        <div class="inner">

            <div class="box-content">
                <ul>
                    <!--<li>
                        <a href="#">@(play.cache.Cache.get("user_name"))'s Account</a>
                    </li>-->
                    <li>
                        <a href="@routes.Settings.auditLog()" name="clinic">Audit Log</a>
                    </li>
                    <li>
                        <a href="@routes.Dentist.getList()" name="dentists">Dentists</a>
                    </li>
                    <li>
                        <a href="@routes.Announcement.getList()" name="reminders">Reminders</a>
                    </li>
                    <li>
                        <a href="@routes.Staff.getList()" name="staffs">Staffs</a>
                    </li>
                    <li>
                        <a href="@routes.Settings.teethNaming()">Teeth Naming</a>
                    </li>
                    <li>
                        <a href="@routes.Supply.getList()">Dental Supplies</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>