@(auditLog: List[ws.services.AuditLog])

@main(Messages("settings.audit.log.title")){

<!-- Audit Log -->
<header class="grid_12 head center">
    <h1>Audit Log</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="grid_12">
    <div class="extension top fullwidth">
        <div id="DataTables_Table_0_length" class="dataTables_length">
            <label>
                <span class="textnode">Show </span>
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                    <option value="0" selected="selected">-</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="textnode"> entries</span>
            </label>
        </div>
        <div class="dataTables_filter" id="DataTables_Table_0_filter">
            <label>
                <form action="@routes.Settings.searchAuditLog()" method="GET">
                    <span class="textnode">@Messages("misc.search"): </span>
                    <input type="text" aria-controls="DataTables_Table_0" id="search_box" name="filter" placeholder="Enter keyword..">
                </form>
            </label>
        </div>
        <div class="clear"></div></div>
    <div class="table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="datatable dataTable" id="DataTables_Table_0">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10%;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                        <div class="parentsort">Task
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Date and Time
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 50%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Description
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 20%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Author
                            <div class="sorticon"></div>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                @auditLog.map { al =>
                <tr>
                    @{al.task match {
                        case "Add" => {
                            <td class="center"><span class="label label-success">Add</span></td>
                        }
                        case "Update" => {
                            <td class="center"><span class="label label-warning">Update</span></td>
                        }
                        case "Delete" => {
                            <td class="center"><span class="label label-important">Delete</span></td>
                        }
                        case _ => {
                            <td class="center"><span class="label">Misc</span></td>
                        }
                    }}
                    <td class=" ">@al.dateCreated</td>
                    <td class=" ">@al.description</td>
                    <td class=" "><a href="#">@al.author</a></td>
                </tr>
                }
                </tbody>
            </table>
            <div class="extension bottom inright pagination">
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                    <a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">First</a>
                    <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                                                <span>
                                                    <a tabindex="0" class="paginate_active">1</a>
                                                </span>
                    <a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next">Next</a>
                    <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last">Last</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Audit Log -->
}