@main(Messages("dashboard.title")) {

<a href="@routes.Clinic.getList()">CLINIC LIST</a>  </br>
<a href="@routes.Clinic.getAddForm()">ADD CLINIC</a>      </br>

<a href="@routes.Staff.getList()">STAFF LIST</a>    </br>
<a href="@routes.Staff.getAddForm()">ADD STAFF</a>     </br>

<a href="@routes.Announcement.getList()">ANNOUNCEMENT LIST</a>      </br>
<a href="@routes.Announcement.getAddForm()">ADD ANNOUNCEMENT</a>     </br>


<a href="@routes.DentalService.getAddForm()">ADD DENTAL SERVICE</a>    </br>

<a href="@routes.Dentist.getList()">DENTIST LIST</a>                  </br>
<a href="@routes.Dentist.getAddForm()">ADD DENTIST</a>                </br>

<a href="@routes.Reports._dentistList()">DENTIST REPORT</a>           </br>

}