@main(Messages("Settings")) {

    <!-- # Dashboard -->
    <header class="grid_12 head">
        <h1>Settings <img id="loader" src="@routes.Assets.at("images/loader.gif")" style="display: none;"></h1>
        <div class="clear"></div><span class="divider"></span>
    </header>

    <!-- DentalService -->
    <div class="simple-box grid_3">
        <div class="inner">

            <div class="box-content">
                <ul>
                    <li>
                        <a href="#">Your Profile</a>
                    </li>
                    <li>
                        <a href="#" name="clinic">Clinic</a>
                    </li>
                    <li>
                        <a href="#" name="dentists">Dentists</a>
                    </li>
                    <li>
                        <a href="#" name="reminders">Reminders</a>
                    </li>
                    <li>
                        <a href="#" name="staffs">Staffs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- DentalService -->
    <!-- /Announcements -->
    <div class="grid_9">
    </div>
    <!-- /Announcements -->
}





