@main(Messages("Settings")) {

    <!-- # Dashboard -->
    <header class="grid_12 head">
        <h1>@Messages("Account Settings")</h1>
        <div class="clear"></div><span class="divider"></span>
    </header>

    <!-- DentalService -->
    <div class="simple-box grid_3">
        <div class="inner">

            <div class="box-content">
                <ul>
                    <li>
                        <a href="">Your Profile</a>
                    </li>
                    <li>
                        <a href="@routes.Clinic.getList()">Clinic</a>
                    </li>
                    <li>
                        <a href="@routes.Dentist.getList()">Dentists</a>
                    </li>
                    <li>
                        <a href="@routes.Announcement.getList()">Reminders</a>
                    </li>
                    <li>
                        <a href="@routes.Staff.getList()">Staffs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- DentalService -->
    <!-- /Announcements -->
    <div class="simple-box grid_9">
        <div class="inner">
            <header>
                <h1>Reminders</h1>
            </header>

            <div class="box-content">
                <a href="@routes.Announcement.getList()">View Reminders List</a>
            </div>
        </div>
    </div>
    <!-- /Announcements -->
}





