@(patientList: List[ws.services.PatientList])

@patient(Messages("patient.title")){

<!-- Patient List -->

<header class="grid_12 head center">
    <h1>@Messages("patient.list.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="grid_12">
    <div class="extension top fullwidth">
        <div id="DataTables_Table_0_length" class="dataTables_length">
            <label>
                <span class="textnode">Show </span>
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                    <option value="0" selected="selected">-</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="textnode"> entries</span>
            </label>
        </div>
        <div class="dataTables_filter" id="DataTables_Table_0_filter">
            <label>
                <form action="@routes.Patient.search()" method="GET">
                    <span class="textnode">@Messages("misc.search"): </span>
                    <input type="text" aria-controls="DataTables_Table_0" id="search_box" name="filter" placeholder="Enter keyword..">
                </form>
            </label>
        </div>
        <div class="clear"></div></div>
    <div class="table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="datatable dataTable" id="DataTables_Table_0">
                <thead>
                <tr role="row">
                    <th class="first sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                        <div class="parentsort">Complete Name
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 40%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Address
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Contact Number
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="last sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Last Service
                            <div class="sorticon"></div>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                @patientList.map { pl =>
                <tr>
                    <td class="  sorting_1"><a href="@routes.Patient.getTreatmentPlan(pl.id)">@pl.lastName, @pl.firstName @pl.middleName</a></td>
                    <td class=" ">@pl.address</td>
                    <td class=" ">@pl.contactNo</td>
                    <td class=" ">28/2/2013</td>
                </tr>
                }
                </tbody>
            </table>
            <div class="extension bottom inright pagination">
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                    <a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">First</a>
                    <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                                                <span>
                                                    <a tabindex="0" class="paginate_button">1</a>
                                                </span>
                    <a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next">Next</a>
                    <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last">Last</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Patient List -->

}