@(patientList: List[ws.services.PatientLastVisit])

@patient(Messages("patient.title")){

<!-- Patient List -->

<header class="grid_12 head center">

    <h1>@Messages("patient.list.title") <img id="loader" src="@routes.Assets.at("images/loader.gif")" style="display: none;"></h1>
    <a class="function-button right" href="@routes.Reports._patientList()"><span class="glyph portrait-view"></span> print</a>
    <a class="function-button right" href="@routes.Patient.getAddForm()"><span class="glyph zoom-in"></span> add a patient</a>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="grid_12">
    <div class="extension top fullwidth">
        <div id="DataTables_Table_0_length" class="dataTables_length">
            <label>
                <span class="textnode">Show </span>
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                    <option value="0" selected="selected">-</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="textnode"> entries</span>
            </label>
        </div>
        <div class="dataTables_filter" id="DataTables_Table_0_filter">
            <label>
                <form action="@routes.Patient.search()" method="GET">
                    <span class="textnode">@Messages("misc.search"): </span>
                    <input type="text" aria-controls="DataTables_Table_0" id="search_box" name="filter" placeholder="Enter keyword..">
                </form>
            </label>
        </div>
        <div class="clear"></div></div>
    <div class="table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="datatable dataTable" id="DataTables_Table_0">
                <thead>
                <tr role="row">
                    <th class="first sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                        <div class="parentsort">Complete Name
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Address
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Contact Number
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Last Service
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;">
                    </th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                @patientList.map { pl =>
                <tr>
                    <td class="  sorting_1"><a href="@routes.Patient.getTreatmentPlan(pl.p.id)">@pl.p.lastName, @pl.p.firstName @pl.p.middleName </a></td>
                    <td>@pl.p.address</td>
                    <td>@pl.p.contactNo</td>
                    <td>@{pl.dateLastVisit match {
                        case Some("None") => "---"
                        case _ =>
                            pl.dateLastVisit.get.split(" ")(0).split("-")(1) match {
                                case "01" => "Jan"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "02" => "Feb"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "03" => "Mar"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "04" => "Apr"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "05" => "May"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "06" => "Jun"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "07" => "Jul"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "08" => "Aug"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "09" => "Sep"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "10" => "Oct"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "11" => "Nov"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                                case "12" => "Dec"+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(2)+"-"+pl.dateLastVisit.get.split(" ")(0).split("-")(0)+" "+pl.dateLastVisit.get.split(" ")(1).split(":")(0)+":"+pl.dateLastVisit.get.split(" ")(1).split(":")(1)
                            }
                    }}</td>
                    <td style="width: 15%;"><a href="@routes.Patient.getUpdateForm(pl.p.id)">edit</a></td>
                </tr>
                }
                </tbody>
            </table>
            <div class="extension bottom inright pagination">
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                    <a tabindex="0" class="first previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                        <span>
                            <a tabindex="0" class="paginate_button">1</a>
                        </span>
                    <a tabindex="0" class="last next paginate_button" id="DataTables_Table_0_next">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Patient List -->

}