@(patientList: List[ws.services.PatientList], treatmentPlan: List[ws.services.TreatmentPlanType], paymentList: List[ws.services.PaymentList], totalPayments: Double, totalPrices: Double, balance: Double)
@import ws.delegates.{PaymentDelegate}
@patient("Treatment Plan") {

@patientList.map { pl =>
@modal._add_payment(paymentList, pl.id, balance)
}

<!-- # Treatment Plan -->
<header class="grid_12 head">
    <h1>Treatment Plan</h1>
    @patientList.map { pl =>
    <a class="function-button right" href='@routes.Reports._individualPatientReport(pl.id)'><span class="glyph portrait-view"></span> print dental history</a>
    <div class="clear"></div><span class="divider"></span>
</header>

<!-- Profile, Dental Chart, Medical History -->
<div class="box grid_12">
<header>
    <div class="inner">
        <div class="left title">
            <h1>@pl.lastName, @pl.firstName @pl.middleName</h1>
            }
        </div>
        <div class="right">
            <nav>
                <ul>
                    <li class="active first"><a href="#tab-1">Profile</a></li>
                    <li><a href="#tab-2">Personal Dental Chart</a></li>
                    <li><a href="#tab-3">Payment</a></li>
                </ul>
            </nav>
            <a href="#" class="close">close</a>
        </div>
    </div>
</header>

<div class="box-content">
<div id="tab-1" class="tab patient_information">
    <div class="columns">
        <div class="form-details right">
            @patientList.map { pl =>
            <div class="field left">
                <ul>
                    <!--<li>
                        <label>Patient ID:</label>
                        <label class="form-label">@pl.id</label>
                    </li>-->
                    <input type="hidden" name="id" value="@pl.id">
                    <li>
                        <label>First Name:</label>
                        <label class="form-label">@pl.firstName</label>
                    </li>
                    <li>
                        <label>Middle Name:</label>
                        <label class="form-label">@pl.middleName</label>
                    </li>
                    <li>
                        <label>Last Name:</label>
                        <label class="form-label">@pl.lastName</label>
                    </li>
                    <li>
                        <label>Gender:</label>
                        @{pl.gender match {
                        case "m" => {
                        <label class="form-label">Male</label>
                        }
                        case "f" => {
                        <label class="form-label">Female</label>
                        }
                        case _ => {
                        <label class="form-label"></label>
                        }
                        }}
                    </li>
                </ul>
            </div>
            <div class="field right">
                <ul>
                    <li>
                        <label>Address:</label>
                        <label class="form-label">@pl.address</label>
                    </li>
                    <li>
                        <label>Contact Number:</label>
                        <label class="form-label">@pl.contactNo</label>
                    </li>
                    <li>
                        <label>Birth Date:</label>
                        <label class="form-label">@pl.dateOfBirth</label>
                    </li>
                </ul>
            </div>
            <div class="field special">
                <label>Medical History: </label>
                <textarea disabled="disabled" class="autogrow" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2">@pl.medicalHistory</textarea>
            </div>
            }
        </div>
    </div>
</div>
<div id="tab-2" class="tab">
    <ul class="button-bar blue small teeth-type">
        <li name="adultButton" class="first active"><a href="#">Adult</a></li>
        <li name="childButton" class="last"><a id="teeth-status" href="#">Child</a></li>
    </ul>
    <br>
    <!--Teeth Chart-->
    <div class="face no-highlight">
    <!--Child-->
        @modal._child_teeth_chart()
    <!--/Child-->
    <!--Adult-->
        @modal._adult_teeth_chart()
    <!--/Adult-->
    </div>
    <!--/Teeth Chart-->
    <!-- Dental Services -->
    <div class="box grid_11">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>@Messages("treatments.title")</h1>

                </div>
                <div class="right">
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content">
            <div class="grid_11 table">
                <div>
                    <table id="tbl-treatments">
                        <thead>
                        <tr>
                            <th class="first" style="text-align: center;"><span class="glyph center"></span></th>
                            <th>Service Name</th>
                            <th>Tooth</th>
                            <th>Price</th>
                            <th>Date Performed</th>
                            <th class="last">Dentist Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @treatmentPlan.map { tp =>
                        <tr class="center">
                            <td><input type='checkbox' data-teeth-name="@tp.teethId" data-service-id="@tp.serviceId" data-treat-id="@tp.id"></td>
                            <td><span class="label" style="background: @tp.color;">@tp.serviceName</span></td>
                            <td>@tp.teethName</td>
                            <td><span class="pesos">P</span> @tp.servicePrice</td>
                            <td>@tp.datePerformed

                            </td>
                            <td>Dr. @tp.dentistName</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    <!--<footer class="extension bottom inright pagination right">
                        <nav>
                            <ul>
                                <li class="first"><a href="#"> previous</a></li>
                                <li><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li class="active"><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li><a href="#">05</a></li>
                                <li class="disabled last"><span>disabled </span></li>
                            </ul>
                        </nav>
                    </footer>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /Dental Services -->
</div>
<div id="tab-3" class="tab patient_information">
    <div class="form-details right">
        <div class="extension top fullwidth">
            <div id="DataTables_Table_0_length" class="dataTables_length">
                <label>
                    <span class="textnode">Show </span>
                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                        <option value="0" selected="selected">-</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="textnode"> entries</span>
                </label>
            </div>

            <div class=""><div class="dataTables_filter" id="DataTables_Table_0_filter">
              <div class="textnode">  Total Payment: <span class="">@totalPayments</span>
                &nbsp; Remaining Balance: <span class="">@balance</span>
                <!--<a class="bt blue right" href="#addAppointmentModal" class="modal">Pay!</a>-->
                &nbsp; <a href="#addPaymentModal" class="modal">
                    <span>Proceed to Counter </span>
                </a>
              </div>
            </div> </div>
            <div class="clear"></div></div>
        <!--<nav>
            <ul>
                <li class="last">

                </li>
            </ul>
        </nav>-->




        <div class="table">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <table class="datatable dataTable" id="DataTables_Table_0">
                    <thead>
                    <tr role="row">
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-label="Browser: activate to sort column ascending">
                            <div class="parentsort">Date of Payment
                                <div class="sorticon"></div>
                            </div>
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                            <div class="parentsort">Payment
                                <div class="sorticon"></div>
                            </div>
                        </th>
                        <th class="last sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                            <div class="parentsort">Recorded By
                                <div class="sorticon"></div>
                            </div>
                        </th>
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr>
                        @paymentList.map { pl =>
                        <td>@pl.dateOfPayment</td>
                        <td>@pl.payment</td>
                        <td>@pl.userName</td>
                    </tr>
                    }
                    </tbody>
                </table>
                <div class="extension bottom inright pagination">
                    <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                        <a tabindex="0" class="first previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                            <span>
                                <a tabindex="0" class="paginate_button">1</a>
                            </span>
                        <a tabindex="0" class="last next paginate_button" id="DataTables_Table_0_next">Next</a>
                    </div>
                </div>
            </div>
        </div>

        </nav>
    </div>
</div>

<footer class="pane">
    @patientList.map { p =>
    <a class="bt blue right" href="@routes.Patient.getUpdateForm(p.id)">@Messages("button.edit")</a>
    }
</footer>
</div>
<!-- /Profile, Dental Chart, Medical History -->
}