@(patientList: List[ws.services.PatientList])

@main(Messages("patient.title")){

<!-- Update Patient -->
<header class="grid_12 head center">
    <h1>@Messages("patient.update.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
<header>
    <div class="inner">
        <div class="left title">
            <h1></h1>
        </div>
        <div class="right">
            <nav>
                <ul>
                    <li class="active first"><a href="#tab-1">Profile</a></li>
                    <li><a href="#tab-2">Personal Dental Chart</a></li>
                    <li><a href="#tab-3">Medical History</a></li>
                </ul>
            </nav>
            <a href="#" class="close">close</a>
        </div>
    </div>
</header>

<div class="box-content">
<div id="tab-1" class="tab">
    <div class="center">
        <div class="form-details">
            @patientList.map { pl =>
            @helper.form(action = routes.Patient.submitUpdateForm){
            <div class="field left">
                <input type="hidden" name="id" value="@pl.id">
                <input type="hidden" name="medical_history_id" value="@pl.medicalHistoryId">
                <ul>
                    <li>
                        <label class="upper">First Name:</label>
                        <input type="text" name="first_name" value="@pl.firstName">
                    </li>
                    <li>
                        <label>Middle Name:</label>
                        <input type="text" name="middle_name" value="@pl.middleName">
                    </li>
                    <li>
                        <label>Last Name:</label>
                        <input type="text" name="last_name" value="@pl.lastName">
                    </li>
                    <li>
                        <label>Image:<br></label>
                        <div class="customfile"><input type="file" value="@pl.image" name="image" class="custom-file-input customfile-input" style="left: -181px; top: -1px;"></div>
                    </li>
                </ul>
            </div>
            <div class="field right">
                <ul>
                    <li>
                        <label class="upper">Address:</label>
                        <textarea id="textarea-input-grow" class="autogrow" name="address" style="height: 50px; overflow: hidden; margin-top: 0px; margin-bottom: 0px;" rows="2">@pl.address</textarea>
                    </li>
                    <li>
                        <label>Contact Number:</label>
                        <input type="text" name="contact_no" value="@pl.contactNo">

                    </li>
                    <li>
                        <label>Birthdate:</label>
                        <input type="text" name="date_of_birth" value="@pl.dateOfBirth">
                        <!--<input type="text" class="datepicker hasDatepicker" id="datepicker">-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="pane">
        <a id="delete_patient" class="bt red left" href="#" data-patient_id="@pl.id">@Messages("button.delete")</a>
        <input type="submit" class="bt blue right" value="@Messages("button.update")">
    </footer>
            }
            }
</div>
<div id="tab-2" class="tab" style="display: none; ">
    <ul class="button-bar blue small">
        <li class="first active"><a href="#">Adult</a></li>
        <li class="last"><a href="#">Child</a></li>
    </ul>
    <!--  SVG Chart -->
    <div id="svg-chart">
    </div>
    <!--  /SVG Chart -->
    <!-- Dental Services -->
    <div class="box grid_11">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>Dental Services</h1>

                </div>
                <div class="right">
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content">
            <div class="grid_11 table">
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th class="first">Name</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>Target</th>
                            <th>Date Performed</th>
                            <th class="last">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Oral Prophylaxis</td>
                            <td>OP</td>
                            <td><span class="pesos">P</span> 500.00</td>
                            <td>Inclusive</td>
                            <td>11/30/2012 5:00 PM</td>
                            <td class="center"><span class="label label-success">Success</span></td>
                        </tr>
                        <tr class="even">
                            <td>Periodic Oral Evaluation</td>
                            <td>POE</td>
                            <td><span class="pesos">P</span> 500.00</td>
                            <td>Inclusive</td>
                            <td>11/30/2012 5:00 PM</td>
                            <td><center><span class="label label-success">Success</span></center></td>
                        </tr>
                        <tr>
                            <td>Extraction</td>
                            <td>EX</td>
                            <td><span class="pesos">P</span> 300.00</td>
                            <td>Selective</td>
                            <td>11/30/2012 5:00 PM</td>
                            <td class="center"><span class="label label-warning">Pending</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <footer class="extension bottom inright pagination right">
                        <nav>
                            <ul>
                                <li class="first"><a href="#">« previous</a></li>
                                <li><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li class="active"><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li><a href="#">05</a></li>
                                <li class="disabled last"><span>disabled »</span></li>
                            </ul>
                        </nav>
                    </footer>
                </div>
            </div>
        </div>
        <footer class="pane">
            <input type="submit" class="bt blue right" value="Save Changes">
        </footer>
    </div>
    <!-- /Dental Services -->
</div>
<div id="tab-3" class="tab">
    <div class="simple-box">
        <div class="grid_11 boxed-table">
            <div>
                <!-- Table - Allergies to -->
                <table>
                    <thead>
                    <tr>
                        <th class="first">Allergic or Unusual reaction to:</th>
                        <th>Description</th>
                        <th class="last">Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Penicillins</td>
                        <td></td>
                        <td class="checkbox">
                            <input type="checkbox" class="ui-helper-hidden-accessible">
                        </td>
                    </tr>
                    <tr>
                        <td>Aspirins</td>
                        <td></td>
                        <td class="checkbox">
                            <input type="checkbox" class="ui-helper-hidden-accessible">
                        </td>
                    </tr>
                    <tr>
                        <td>Oral Prophylaxis</td>
                        <td>-</td>
                        <td class="checkbox">
                            <input type="checkbox" class="ui-helper-hidden-accessible">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /Table - Allergies to -->
                <!-- Table - General -->
                <table>
                    <thead>
                    <tr>
                        <th class="first">General</th>
                        <th>Description</th>
                        <th class="last">Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lost of appetite</td>
                        <td></td>
                        <td class="checkbox">
                            <input type="checkbox" class="ui-helper-hidden-accessible">
                        </td>
                    </tr>
                    <tr>
                        <td>Always hungry</td>
                        <td></td>
                        <td class="checkbox">
                            <input type="checkbox" class="ui-helper-hidden-accessible">
                        </td>
                    </tr>
                    <tr>
                        <td>Always thirsty</td>
                        <td>-</td>
                        <td class="checkbox">
                            <input type="checkbox" class="ui-helper-hidden-accessible">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /Table - General -->
            </div>
        </div>
    </div>
    <footer class="pane">
        <input type="submit" class="bt blue right" value="Save Changes">
    </footer>
</div>
</div>
</div>
<!-- /Update Patient -->
}