@service(Messages("service.title")){

<!-- Add service -->
<header class="grid_12 head center">
    <h1>@Messages("service.add.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
<header>
    <div class="inner">
        <div class="left title">
            <h1></h1>
        </div>
        <div class="right">
            <nav>
                <ul>
                    <li class="active first"><a href="#tab-1">Information</a></li>
                </ul>
            </nav>
            <a href="#" class="close">close</a>
        </div>
    </div>
</header>

<div class="box-content">
<div id="tab-1" class="tab">
    <div class="columns">
        <div class="form-details right">
            @helper.form(action = routes.DentalService.submitAddForm){
            <div class="field left">
                <input type="hidden" name="id" value="">
               <ul>
                    <li>
                        <label class="upper">Service Name:</label>
                        <input type="text" required = "required" name="name">
                    </li>
                    <li>
                        <label>Service Code:</label>
                        <input type="text" required = "required" name="code">
                    </li>
                    <li>
                        <label>Service Type:</label>
                        <input type="text" required = "required" name="type">
                    </li>
                </ul>
            </div>
            <div class="field right">
                <ul>
                    <li>
                        <label class="upper">Tool Type:</label>
                        <select name="target">
                            <option value="1">Paint</option>
                            <option value="2">Symbol</option>
                            <option value="3">Selective</option>
                            <option value="4">Inclusive</option>
                        </select>
                    </li>
                    <li>
                        <label>Price:</label>
                        <input type="text" required = "required" name="price">
                    </li>
                    <li>
                        <label>Color:</label>
                        <input type="text" name="color" class="colorpicker miniColors"  maxlength="7" autocomplete="off" required = "required" style="padding-right: 35px;">
                    </li>
                    <li>
                        <label>Template:</label>
                        <select name="image_template">
                            <option value="CHAR-A">CHAR-A</option>
                            <option value="CHAR-B">CHAR-B</option>
                            <option value="CHAR-C">CHAR-C</option>
                            <option value="CHAR-D">CHAR-D</option>
                            <option value="CROSSOUT">CROSSOUT</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="pane">
        <input type="submit" class="bt blue right" value="@Messages("button.add")">
    </footer>
    }
</div>
</div>
</div>
<!-- /Add service -->
}