@(dentalServiceList: List[ws.services.DentalServiceList])

@main(Messages("dentalService.title")){

<header class="grid_12 head center">
    <h1>@Messages("dental.service.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<!-- Add Dental Service-->
<div class="box grid_12">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>@Messages("service.add.title")</h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>

    <div class="box-content">
        <div class="center">
            <div class="form-details">

                <div class="field left">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="medical_history_id" value="3feff37e-577d-4805-a3a6-c0ea2d4194dd">
                    <ul>
                        <li>
                            <label class="upper">Name:</label>
                            <input type="text" name="service_name">
                        </li>
                        <li>
                            <label>Code:</label>
                            <input type="text" name="service_code">
                        </li>
                        <li>
                            <label>Service Type:</label>
                            <select name="service_type">
                                <option value="General Dentistry">General Dentistry</option>
                                <option value="Orthodontics">Orthodontics</option>
                                <option value="Prosthodontics">Prosthodontics</option>
                            </select>
                        </li>
                        <input type="hidden" name="image" value="anon-160x160.jpg"/>
                    </ul>
                </div>
                <div class="field right">
                    <ul>
                        <li>
                            <label class="upper">Tool Type:</label>
                            <select name="target">
                                <option value="1">Paint</option>
                                <option value="2">Symbol</option>
                            </select>
                        </li>
                        <li>
                            <label>Price:</label>
                            <input type="text" name="price">
                        </li>
                        <li>
                            <label>Color</label>
                            <input type="text" name="color">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="pane">
            <input id="addButtonModal" type="submit" class="bt blue right close" value="@Messages("button.add")">
        </footer>

    </div>
</div>
<!-- /Add Dental Service-->

<!-- Service List -->
<div class="grid_12">
    <div class="extension top fullwidth">
        <div id="DataTables_Table_0_length" class="dataTables_length">
            <label>
                <span class="textnode">Show </span>
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                    <option value="10" selected="selected">10</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="100">100</option>
                </select>
                <span class="textnode"> entries</span>
            </label>
        </div>
        <div class="dataTables_filter" id="DataTables_Table_0_filter">
            <label>
                <form action="@routes.DentalService.searchServiceList()" method="GET">
                    <span class="textnode">@Messages("misc.search"): </span>
                    <input type="text" aria-controls="DataTables_Table_0" id="search_box" name="filter" placeholder="Enter keyword..">
                </form>
            </label>
        </div>
        <div class="clear"></div></div>
    <div class="table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="datatable dataTable" id="DataTables_Table_0">
                <thead>
                <tr role="row">
                    <th class="first sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                        <div class="parentsort">Service Name
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10%;" aria-label="Browser: activate to sort column ascending">
                        <div class="parentsort">Code
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Type
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Target
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Price
                            <div class="sorticon"></div>
                        </div>
                    </th>
                    <th class="last sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Platform(s): activate to sort column ascending">
                        <div class="parentsort">Color
                            <div class="sorticon"></div>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                @dentalServiceList.map { dsl =>
                <tr>
                    <td class="  sorting_1"><a href="@routes.DentalService.getDentalServiceInformationById(dsl.id)">@dsl.name</a></td>
                    <td class=" ">@dsl.code</td>
                    <td class=" ">@dsl.sType</td>
                    <td class=" ">@dsl.toolType</td>
                    <td class=" "><span class="pesos">P</span> @dsl.price.00</td>
                    <td class=" ">@dsl.color</td>
                </tr>
                }
                </tbody>
            </table>
            <div class="extension bottom inright pagination">
                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                    <a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">First</a>
                    <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a>
                                                <span>
                                                    <a tabindex="0" class="paginate_active">1</a>
                                                </span>
                    <a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next">Next</a>
                    <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last">Last</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Service List -->

}