@(dentalServiceList: List[ws.services.DentalServiceList])

@service("Dental Service") {


<header class="grid_12 head">
    <h1>Dental Service</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
<header>
    <div class="inner">
        <div class="left title">
            @dentalServiceList.map { dl =>
            <h1>@dl.name</h1>
            }
        </div>
        <div class="right">
            <a href="#" class="close">close</a>
        </div>
    </div>
</header>

<div class="box-content">
    <div class="center">
        <div class="form-details">
            @dentalServiceList.map { dl =>
            <!-- Breadcrumb -->
            <script type="text/javascript">
                $('<div class="extension top inleft breadcrumbs"><nav><ul><li class="first"><a href="#">Services</a> <span class="divider"></span></li><li class="last"><a href="#">@dl.name</a></li></ul></nav></div>').prependTo('#content');
            </script>
            <!-- /Breadcrumb -->
            <div class="field left">
                <input type="hidden" name="id" value="@dl.id">
                <ul>
                    <li>
                        <label>Name:</label>
                        <label class="form-label">@dl.name</label>
                    </li>
                    <li>
                        <label>Code:</label>
                        <label class="form-label">@dl.code</label>
                    </li>
                    <li>
                        <label>Type:</label>
                        <label class="form-label">@dl.sType</label>
                    </li>
                </ul>
            </div>
            <div class="field right">
                <ul>
                    <li>
                        <label>Tool Type:</label>
                        <label class="form-label">@dl.toolType</label>
                    </li>
                    <li>
                        <label>Price</label>
                        <label class="form-label">@dl.price.00</label>
                    </li>
                    <li>
                        <label>Color:</label>
                        <label class="form-label" style="color: @dl.color;">@dl.color</label>
                        <!--<input type="text" class="colorpicker miniColors" maxlength="7" autocomplete="off" style="padding-right: 35px;">-->
                    </li>
                </ul>
            </div>
        </div>
    </div> }
    @dentalServiceList.map { ds =>
    <footer class="pane">
        @if((play.cache.Cache.get("role")) == 0) {
        <a class="bt blue right" href="@routes.DentalService.getUpdateForm(ds.id)">@Messages("button.edit")</a>
        }
    </footer>
    }
</div>
</div>
}