@(dentalServiceList: List[ws.services.DentalServiceList])

@service(Messages("service.title")){

<!-- Update dentalService -->
<header class="grid_12 head center">
    <h1>@Messages("service.update.title")</h1>
    <div class="clear"></div><span class="divider"></span>
</header>

<div class="box grid_12">
<header>
    <div class="inner">
        <div class="left title">
            <h1>@dentalServiceList.map { dl => @dl.name }</h1>
        </div>
        <div class="right">
            <a href="#" class="close">close</a>
        </div>
    </div>
</header>

<div class="box-content">
    <div class="center">
        <div class="form-details">
            @dentalServiceList.map { dl =>
            @helper.form(action = routes.DentalService.submitUpdateForm){
            <div class="field left">
                <input type="hidden" name="id" value="@dl.id">
                <ul>
                    <li>
                        <label class="upper">Service Name:</label>
                        <input type="text" name="name" required = "required" value="@dl.name">
                    </li>
                    <li>
                        <label>Code:</label>
                        <input type="text" name="code" required = "required" value="@dl.code">
                    </li>
                    <li>
                        <label>Type:</label>
                        <input type="text" name="type" required = "required" value="@dl.sType">
                    </li>
                </ul>
            </div>
            <div class="field right">
                <ul>

                    <li>
                        <label>Target:</label>
                        <input type="text" name="target" required = "required" value="@dl.toolType">

                    </li>
                    <li>
                        <label>Price:</label>
                        <input type="text" name="price" required = "required" value="@dl.price">
                    </li>
                    <li>
                        <label>Color:</label>
                        <div class="field small">
                            <input type="text" class="colorpicker miniColors" maxlength="7" autocomplete="off" value="@dl.color" style="padding-right: 35px;">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="pane">
       <input type="submit" class="bt blue right" value="@Messages("button.update")">
    </footer>
    }
    }
</div>
</div>
}