@(patientList: List[ws.services.PatientLastVisit], appointmentsToday: List[ws.services.AppointmentList], remindersToday: List[ws.services.AnnouncementList])

@main(Messages("dashboard.title")) {

    <script type="text/javascript">
        $('.main-nav ul').children().removeClass('active');
        $('.main-nav ul li a[name=Dashboard]').parent().addClass('active');
    </script>

    <!-- # Dashboard -->
    <header class="grid_12 head">
        <h1>@Messages("dashboard.title")</h1>
        <div class="clear"></div><span class="divider"></span>
    </header>

    <div class="grid_8">
        <!-- Reminders -->
        <div class="simple-box">
            <div class="inner">
                <header>
                    <h1>Reminders</h1>
                </header>

                <div class="box-content">
                    @if(remindersToday.length == 0){
                        <p>No reminders today. <a href="@routes.Announcement.getList()" target="_blank">add a reminder</a></p>
                    } else {
                        @remindersToday.map { rt =>
                        <p>@rt.dateCreated @rt.description - by @rt.username</p>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- /Reminders -->

        <!-- Statistics -->
        <div class="box">
            <header>
                <div class="inner">
                    <div class="left title">
                        <h1>Visit Statistics</h1>
                    </div>
                    <div class="right">
                        <nav>
                            <ul>
                                <li class="active first"><a href="#tab-1">Monthly</a></li>
                                <li class="last"><a href="#tab-2">Daily</a></li>
                            </ul>
                        </nav>
                        <a href="#" class="close">close</a>
                    </div>
                </div>
            </header>

            <div class="box-content">
                <div id="tab-1" class="tab">
                    <div id="container" style="width: 590px; height: 300px"></div>
                </div>
                <div id="tab-2" class="tab" style="display: none; ">
                    <div id="container1" style="width: 590px; height: 300px"></div>
                </div>
            </div>
        </div>
        <!-- /Statistics -->
    </div>

    <div class="grid_4">
        <!-- Today's Appointments -->
        <div class="box">
            <header>
                <div class="inner">
                    <div class="left title">
                        <h1>Today's Appoinments</h1>
                        <a href="@routes.Scheduler.getCalendar()" target="_blank">view scheduler »</a>
                    </div>
                    <div class="right">
                        <a href="#" class="close">close</a>
                    </div>
                </div>
            </header>

            <div class="box-content no-inner-space" style="display: block; ">
                <ul class="userlist">
                    @if(appointmentsToday.length == 0){
                        <li class="first">No appointments at this time. <a href="@routes.Scheduler.getCalendar()" target="_blank">add an appointment</a></li>
                    } else {
                        @appointmentsToday.map { at =>
                        <li class="first">
                            <!--<div class="avatar"><img src="@routes.Assets.at("images/thumbs/anon.png")" width="40" height="40" alt="avatar"></div>-->
                            <div class="info-l">
                                <a href="#" class="title" target="_blank">@at.lastName, @at.firstName @at.middleName</a>
                                <span>@at.contactNo</span>
                            </div>
                            <div class="info-r">
                                @if(at.dateStart.get.split(" ")(1).split(":")(0).toInt >= 12){
                                <span>@(at.dateStart.get.split(" ")(1).split(":")(0).toInt % 12):@at.dateStart.get.split(" ")(1).split(":")(1) pm</span>
                                } else {
                                    @if((at.dateStart.get.split(" ")(1).split(":")(0).toInt == 0)){
                                    <span></span>
                                    } else {
                                    <span>@at.dateStart.get.split(" ")(1).split(":")(0):@at.dateStart.get.split(" ")(1).split(":")(1) am</span>
                                    }
                                }

                            </div>
                        </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- /Today's Appoinments -->

        <!-- Latest Patients -->
        <div class="box">
            <header>
                <div class="inner">
                    <div class="left title">
                        <h1>Latest Patients</h1>
                        <a href="@routes.Patient.getList()" target="_blank">view patient list »</a>
                    </div>
                    <div class="right">
                        <a href="#" class="close">close</a>
                    </div>
                </div>
            </header>

            <div class="box-content no-inner-space latest-patients" style="display: block; ">
                <ul class="userlist">
                    @if(patientList.length == 0){
                        <li class="first">No patients at this time. <a href="@routes.Patient.getAddForm()" target="_blank">add a patient</a></li>
                    } else {
                        @patientList.map { pl =>
                        <li class="">
                            <div class="info-l">
                                <a href="@routes.Patient.getTreatmentPlan(pl.p.id)" class="title" target="_blank">@pl.p.lastName, @pl.p.firstName @pl.p.middleName</a>
                                <span>@pl.p.address</span>
                            </div>
                        </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- /Latest Patients -->

    </div>

}



