@(patientList: List[ws.services.PatientList], appointmentsToday: List[ws.services.AppointmentList])

@main(Messages("dashboard.title")) {
    <!-- # Dashboard -->
    <header class="grid_12 head">
        <h1>@Messages("dashboard.title")</h1>
        <div class="clear"></div><span class="divider"></span>
    </header>

    <!-- Announcements -->
    <div class="simple-box grid_8">
        <div class="inner">
            <header>
                <h1>Announcements</h1>
            </header>

            <div class="box-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. Phasellus aliquam malesuada blandit. Donec adipiscing sem erat. Donec adipiscing sem erat. Nunc at dui id purus lacinia tincidunt sit amet vel erat. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. </p>
            </div>
        </div>
    </div>
    <!-- /Announcements -->

    <!-- Today's Appointments -->
    <div class="box grid_4">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>Today's Appoinments</h1>
                    <a href="@routes.Scheduler.getCalendar()">view scheduler »</a>
                </div>
                <div class="right">
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content no-inner-space" style="display: block; ">
            <ul class="userlist">
                @appointmentsToday.map { at =>
                <li class="first">
                    <div class="avatar"><img src="@routes.Assets.at("images/thumbs/anon.png")" width="40" height="40" alt="avatar"></div>
                    <div class="info-l">
                        <a href="#" class="title">@at.lastName, @at.firstName @at.middleName</a>
                        <span>@at.description</span>
                    </div>
                    <div class="info-r">
                        <span>10 am</span>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
    <!-- /Today's Appoinments -->

    <!-- Statistics -->
    <div class="box grid_8">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>Statistics</h1>
                </div>
                <div class="right">
                    <nav>
                        <ul>
                            <li class="active first"><a href="#tab-1">Tab 1</a></li>
                            <li><a href="#tab-2">Tab 2</a></li>
                            <li class="last"><a href="#tab-3">Tab 3</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content">
            <div id="tab-1" class="tab">
                <img src="img/chart.jpg" width="590" height="300" alt="chart">
            </div>
            <div id="tab-2" class="tab" style="display: none; ">
                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <a href="#">Ut wisi enim</a> ad minim veniam, quis nostrud exerci tation <strong>ullamcorper</strong> suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla <strong>facilisis at vero eros et accumsan</strong> et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <em>Nam liber tempor</em> cum soluta nobis eleifend option congue nihil <a href="#">imperdiet doming id</a> quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
            </div>
            <div id="tab-3" class="tab" style="display: none; ">
                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <a href="#">Ut wisi enim</a> ad minim veniam, quis nostrud exerci tation <strong>ullamcorper</strong> suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla <strong>facilisis at vero eros et accumsan</strong> et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <em>Nam liber tempor</em> cum soluta nobis eleifend option congue nihil <a href="#">imperdiet doming id</a> quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
            </div>
        </div>
    </div>
    <!-- /Statistics -->

    <!-- Latest Patients -->
    <div class="box grid_4">
        <header>
            <div class="inner">
                <div class="left title">
                    <h1>Latest Patients</h1>
                    <a href="#">view patient list »</a>
                </div>
                <div class="right">
                    <a href="#" class="close">close</a>
                </div>
            </div>
        </header>

        <div class="box-content no-inner-space latest-patients" style="display: block; ">
            <ul class="userlist">
                @patientList.map { pl =>
                <li class="">
                    <div class="avatar"><img src="@routes.Assets.at("images/thumbs/anon.jpg")" width="40" height="40" alt="avatar"></div>
                    <div class="info-l">
                        <a href="@routes.Patient.getTreatmentPlan(pl.id)" class="title">@pl.lastName, @pl.firstName @pl.middleName</a>
                        <span>@pl.address</span><br>
                        <span>2 hours ago</span>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
    <!-- /Latest Patients -->
}



