<!DOCTYPE html>

<html>
<head>
    <title>Sabertooth - title</title>
    <script src='@routes.Assets.at("javascripts/fullcalendar.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/jquery.miniColors.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/jquery.maskedinput-1.3.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/jquery-ui-timepicker-addon.js")'></script>
    <script src='@routes.Assets.at("javascripts/elrte.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/elfinder.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.validate.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.metadata.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/main.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/demo.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/raphael-min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/dental-chart-adult.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/functions.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/cal.js")'></script>
</head>
<body>
Image: <img src="/public/images/favicon.png"/><br/>
Hello world! <br/>
<br/>
<table border="1">
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
</table>
</body>
</html>